@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

$font-family-base: 'Inter', sans-serif;
$font-titles: 'Lexend Deca', sans-serif;

.font-titles {
    font-family: $font-titles !important;
}