.margin-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.display-5 {
    font-size: 3rem !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 3s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

.post-card-enter-active, .post-card-leave-active {
    transition: all 1s ease;
}
.post-card-enter, .post-card-leave-active {
    opacity: 0;
    transform: translateY(15px)
}