.search {
  background: #282830;

  input {
    color: #989898;
    &::placeholder {
      color: rgba(152, 152, 152, 0.4);
    }
    &:-ms-input-placeholder /* Internet Explorer 10-11 */ {
      color: rgba(152, 152, 152, 0.4);
    }
    &::-ms-input-placeholder /* Microsoft Edge */ {
      color: rgba(152, 152, 152, 0.4);
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}